<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="StorageConnectionString" connectionString="__StorageConnectionString__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
        <add name="DatabaseConnectionString" connectionString="__ForecastingDatabaseConnectionString__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        <add name="EmployerDatabaseConnectionString" connectionString="__EmployerDatabaseConnectionString__" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        <add name="CosmosDbConnectionString" connectionString="__CosmosDbConnectionString__"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </connectionStrings>
    <appSettings>
        <add key="Environment" value="__EnvironmentName__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="LevyFunctionUrl" value="__LevyFunctionUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="LevyPreLoadFunctionUrl" value="__LevyPreLoadFunctionUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="LevyPreLoadFunctionAllEmployersUrl" value="__LevyPreLoadFunctionAllEmployersUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="PaymentPreLoadHttpFunction" value="__PaymentPreLoadHttpFunction__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="AllEmployersPaymentPreLoadHttpFunction" value="__AllEmployersPaymentPreLoadHttpFunction__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="PaymentFunctionUrl" value="__PaymentFunctionUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="ProjectionPaymentFunctionUrl" value="__ProjectionPaymentFunctionUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="ProjectionLevyFunctionUrl" value="__ProjectionLevyFunctionUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="ApiInsertBalanceUrl" value="__ApiInsertBalanceUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="ApiInsertPaymentUrl" value="__ApiInsertPaymentUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="ApiInsertLevyUrl" value="__ApiInsertLevyUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="ApiInsertApprenticeshipsUrl" value="__ApiInsertApprenticeshipsUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <add key="GetApprenticeshipHttpTriggerUrl" value="__GetApprenticeshipHttpTriggerUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    </appSettings>
</configuration>