<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
    <add name="DatabaseConnectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=SFA.DAS.Forecasting.Database;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="TimeToWait" value="00:01:00" />
    <add key="TimeToPause" value="00:00:05" />
    <add key="EmployerAccountId" value="12345" />
    <add key="LevyFunctionUrl" value="http://localhost:7071/api/LevyDeclarationEventHttpFunction" />   
    <add key="PaymentFunctionUrl" value="http://localhost:7072/api/" />
    <add key="ProjectionPaymentFunctionUrl" value="http://localhost:7073/api/TriggerGeneratePaymentProjections/{employerAccountId}" />
    <add key="ProjectionLevyFunctionUrl" value="http://localhost:7073/api/TriggerGenerateLevyProjections/{employerAccountId}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.14.2.11" newVersion="3.14.2.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.8.1" newVersion="0.9.8.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>