<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.8.1" targetFramework="net462" />
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net462" developmentDependency="true" />
  <package id="CsQuery" version="1.3.3" targetFramework="net462" />
  <package id="Dapper" version="1.50.4" targetFramework="net462" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net462" />
  <package id="Nancy" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Nancy.Authentication.Forms" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net462" />
  <package id="SpecFlow" version="2.3.0-preview20180201" targetFramework="net462" />
  <package id="SpecFlow.NUnit" version="2.3.0-preview20180201" targetFramework="net462" />
  <package id="StructureMap" version="4.5.3" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0-preview1-24530-04" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net462" />
</packages>