<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Microsoft.Azure.DocumentDB" version="1.21.1" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.VisualBasic" version="10.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net462" />
  <package id="OWASPZAPDotNetAPI" version="2.7.0" targetFramework="net462" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0" targetFramework="net462" />
  <package id="SFA.Automation.Framework" version="1.0.0.50518" targetFramework="net462" />
  <package id="SpecFlow" version="2.3.0-preview20180201" targetFramework="net462" />
  <package id="SpecFlow.NUnit" version="2.3.0-preview20180201" targetFramework="net462" />
  <package id="StructureMap" version="4.5.3" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.1" targetFramework="net462" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0-preview1-24530-04" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net462" />
</packages>