@inject SFA.DAS.EmployerUrlHelper.ILinkGenerator LinkGenerator

@{
    ViewBag.PageID = "page-not-found";
    ViewBag.Title = "Page not found";
    ViewBag.HideNav = true;
    ViewBag.GaData.Vpv = "/forecasting/error/page-not-found";
}
<h1 class="govuk-heading-xl">Page not found</h1>
<p>
    If you typed the web address, check it is correct.
</p>
<p class="govuk-body">
    If you pasted the web address, check you copied the entire address.
</p>
<p class="govuk-body">
    If the web address is correct or you selected a link or button you can <a href="@LinkGenerator.AccountsLink("")">return to the homepage</a>.
</p>