<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="FluentValidation" version="7.3.4" targetFramework="net462" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net462" />
  <package id="MediatR" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.6.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Azure.DocumentDB" version="1.21.1" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.5" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.5" targetFramework="net462" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.6.2" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.5" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.5" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.5" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.25.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.25.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="6.25.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.25.0" targetFramework="net462" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="Polly" version="5.1.0" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Client" version="1.6.2924" targetFramework="net462" />
  <package id="SFA.DAS.Account.Api.Types" version="1.6.2924" targetFramework="net462" />
  <package id="SFA.DAS.Authentication.Extensions.Legacy" version="1.0.22" targetFramework="net462" />
  <package id="SFA.DAS.AutoConfiguration" version="2.2.6" targetFramework="net462" />
  <package id="SFA.DAS.CommitmentsV2.Api.Types" version="8.0.3" targetFramework="net462" />
  <package id="SFA.DAS.CommitmentsV2.Types" version="8.0.3" targetFramework="net462" />
  <package id="SFA.DAS.Common.Domain" version="1.4.278" targetFramework="net462" />
  <package id="SFA.DAS.Configuration" version="3.0.84" targetFramework="net462" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="3.0.84" targetFramework="net462" />
  <package id="SFA.DAS.EmployerFinance.Types" version="0.2.24" targetFramework="net462" />
  <package id="SFA.DAS.HashingService" version="1.0.0.57835" targetFramework="net462" />
  <package id="SFA.DAS.Http" version="3.2.65" targetFramework="net462" />
  <package id="SFA.DAS.NLog.Logger" version="1.0.0.47445" targetFramework="net462" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="2.1.97" targetFramework="net462" />
  <package id="StructureMap" version="4.7.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.25.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.5" targetFramework="net462" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net462" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net462" />
</packages>