@using SFA.DAS.Forecasting.Web.Extensions

@{
    ViewBag.Title = "Expired Funds Guidance";
}

<div class="breadcrumbs">
    <ol role="navigation">
        <li><a href="@Url.ExternalUrlAction("teams")">Home</a></li>
        <li><a href="@Url.ExternalUrlAction("balance")">Finance</a></li>
        <li><a href="@Url.Action("Balance","Forecasting")">Funding projection</a></li>
        <li>Expired funds</li>
    </ol>
</div>

<header class="publication-header">
    <p class="publication-header__publication-type">
        Guidance
    </p>
    <h1 class="heading-xlarge publication-header__heading">
        Expired funds
    </h1>
    <p class="publication-header__last-changed">Updated February 2019</p>
</header>
<div class="grid-row">
    <div class="column-one-third">
        <h2>Contents</h2>
        <ol class="list list-number">
            <li>
                <a href="#heading-1">
                    What are expired funds
                </a>
            </li>
            <li>
                <a href="#heading-2">
                    How to calculate expired funds
                </a>
            </li>
            <li>
                <a href="#heading-3">
                    Making adjustments to apprenticeship levy declarations
                </a>
            </li>
            <li>
                <a href="#heading-4">
                    Positive levy adjustments
                </a>
            </li>
            <li>
                <a href="#heading-5">
                    Negative levy adjustments
                </a>
            </li>
            <li>
                <a href="#heading-6">
                    How to calculate expired funds after a negative levy adjustment
                </a>
            </li>
            <li>
                <a href="#heading-7">
                   Very large levy adjustments
                </a>
            </li>
        </ol>
    </div>
    <div class="column-two-thirds">
        <h2 class="heading-large heading--no-top-margin" id="heading-1">1. What are expired funds</h2>
        <p>Expired funds are the unused apprenticeship funds that will be taken out of your account.</p>
        <p>Apprenticeship funds will be taken out of your account 24 months after they enter it, unless you: </p>
        <ul class="list list-bullet">
            <li>spend them on apprenticeship training and assessment</li>
            <li>fund an apprenticeship with another employer through <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work" target="_blank">transfers</a></li>
        </ul>
        <p>We will start to expire funds from your account in May 2019.</p>

        <h2 class="heading-large" id="heading-2">2. How to calculate expired funds</h2>
        <p>The amount of expired funds for each month will be calculated as follows:</p>
        <ol class="list list-number">
            <li>The total sum of all levy funds that entered your account 24 months or more ago (including negative levy adjustments, which are explained later)</li>
            <li>Minus the total payments you have made for apprenticeship training and assessment to date.</li>
            <li>Minus the total amount of funds that have expired to date.</li>
        </ol>

        <h3 class="heading-medium">2.1 Example of how to calculate expired funds </h3>
        <p>If for example:  </p>
        <ul class="list list-bullet">
            <li>£1,000 levy entered your account every month from May 2017, and you have no negative levy adjustments</li>

            <li>your training costs are £100 per month starting from December 2018</li>

            <li>no funds have expired to date </li>
        </ul>
        <p>To calculate the amount of funds that would expire in May 2019, which is 24 months after May 2017, follow these steps. </p>

        <ol class="list list-number">
            <li>Total levy funds paid into your account in May 2017 is £1,000 (at £1,000 per month)</li>

            <li>Minus the total payments for apprenticeship training and assessment to date, which is £600 (at £100 per month for 6 months from December 2018 to May 2019.)</li>

            <li>Minus zero, as no funds have expired to date.</li>
        </ol>
        <p>This means that the amount of funds that will expire in May 2019 is £400 (£1,000 - £600 = £400)</p>

        <h3 class="heading-medium">2.2 Second example of how to calculate expired funds </h3>
        <p>This is how you would calculate the amount of funds that would expire in the following month, which will be June 2019.  </p>

        <ol class="list list-number">
            <li>Total levy funds paid into your account up until June 2017 is £2,000 (at £1,000 per month from May 2017 to June 2017)</li>

            <li>Minus the total payments for apprenticeship training and assessment to date, which is £700 (at £100 for 7 months from December 2018 to June 2019.)</li>

            <li>Minus the total funds that have expired to date, which is £400 (£400 expired in May 2019.)</li>
        </ol>
        <p>Therefore the amount that will expire in June 2019 is £900 (£2,000 - £700 - £400 = £900.) </p>

        <h2 class="heading-large" id="heading-3">3. Making adjustments to apprenticeship levy declarations</h2>

        <p>If you have declared an incorrect levy amount in a month, you should correct this in a future monthly levy declaration. You can make these adjustments up to 6 years retrospectively with HMRC. </p>
        <p>However, in your apprenticeship service account, we can only accept negative adjustments for the current and previous tax years. This is because expired funds will already have been taken out for the years before that. </p>

        <h2 class="heading-large" id="heading-4">4. Positive levy adjustments</h2>

        <p>If your last levy declaration was too low and you increase this month’s declaration, we will add the extra funds to your account. You will have 24 months to spend them. </p>

        <h2 class="heading-large" id="heading-5">5. Negative levy adjustments </h2>
        <p>If your last levy declaration was too high and you reduce it in the following month, it may lead to a negative figure in your account. You will see this labelled in your transactions as a ‘levy adjustment’.</p>
        <p>When there is a negative levy adjustment in your account we will reduce the total sum in your account, and the amount that will expire in 24 months will reduce accordingly. </p>
        <p>When the negative levy adjustment is more than the month before, the amount of funds will be reduced from previous months until the total reduction amount is covered. See example below for more information.  </p>

        <h3 class="heading-medium">5.1 Example of negative levy adjustments  </h3>
        <p>This is an example of a reduction in levy amounts for previous months, as a result of a negative levy adjustment.</p>
        <table>
            <caption class="heading-small">Table showing reduced levy amounts</caption>
            <thead>
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Levy entered into account</th>
                    <th scope="col">Reduced Levy amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">May 2017</th>
                    <td>£1,000</td>
                    <td>£1,000</td>
                </tr>
                <tr>
                    <th scope="row">June 2017</th>
                    <td>£1,000</td>
                    <td>£500</td>
                </tr>
                <tr>
                    <th scope="row">July 2017</th>
                    <td>£1,000</td>
                    <td>£0</td>
                </tr>
                <tr>
                    <th scope="row">August 2017</th>
                    <td>£-1,500</td>
                    <td>£0</td>
                </tr>
            </tbody>
        </table>
        <p>This is how you would calculate this: </p>
        <ul class="list list-bullet">
            <li>£1,000 levy entered your account in May 2017, June 2017 and July 2017. </li>

            <li>In August 2017 you noticed that your last levy declaration was too high and reduced the total sum by £1,500.</li>

            <li>The £1,500 negative levy adjustment was more than the month before that. So we reduced the levy by £1,000 for July 2017 and by £500 for June 2017, so that the total reduction amount of £1,500 was covered.</li>
        </ul>

        <p>As a result of the negative levy adjustment above, the amount of funds due to expire in June 2019 and July 2019 will be reduced. </p>

        <h2 class="heading-large" id="heading-6">6. How to calculate expired funds after a negative levy adjustment</h2>

        <p>If we use the reduced levy amounts in table 1 starting from May 2017, and say that your training costs are £100 per month, which you started to pay every month from December 2018.  </p>

        <h3 class="heading-medium">6.1 First example of expired funds calculation </h3>

        <p>May 2019 is the first month that your funds could expire, as that is 24 months after May 2017.  </p>

        <p>This is how the amount of expired funds in May 2019 is calculated: </p>

        <ol class="list list-number">
            <li>The amount of levy that entered your account in May 2017 is £1,000. </li>
            <li>
                Minus the total for apprenticeship training and assessment payments up to May 2019 which is £600 (6 months of £100 from December 2018 to May 2019)
            </li>
            <li>
                Minus the total funds which have expired until May 2019 which is £0.
            </li>
        </ol>
        <p>Therefore the amount of funds that will expire and be taken out of your account in May 2019 is £400. (£1,000 - £600 = £400)</p>
        <h3 class="heading-medium">6.2 Second example of expired funds calculation  </h3>
        <p>This is how to calculate the amount of funds to expire in June 2019. </p>

        <ol class="list list-number">
            <li>The total amount of levy paid, including negative adjustments, until June 2017 is £1,500.</li>
            <li>Minus the total for apprenticeship training and assessment payments until June 2019, which are £700 (7 months of £100 from December 2018 to June 2019.)</li>
            <li>Minus the total funds which have expired until June 2019, which is £400.</li>
        </ol>

        <p>Therefore the amount of funds that will be taken out of your account in June 2019 is £400. (£1,500 - £700 - £400 = £400)</p>
        
        <h3 class="heading-medium">6.3 Third example of expired funds calculation </h3>   
        <p>This is how to calculate the amount of funds to expire in July 2019.  </p>
        <ol class="list list-number">
            <li>The total amount of levy paid, including negative adjustments, until July 2017 is £1,500.</li>
            <li>
                Minus the total for apprenticeship training and assessment payments until July 2019, which are £800 (8 months of £100 from December 2018 to July 2019.)
            </li>
            <li>
                Minus the total funds which have expired until July 2019, which is £800.
            </li>
        </ol>
        <p>This will make - £100 value of expired funds, (£1,500 - £800 - £800 = - £100). Therefore no funds will expire in July 2019 and no money will be taken out of your account. </p>
        <h2 class="heading-large" id="heading-7">7. Very large levy adjustments</h2>
        <p>If there are large negative levy adjustments within your account, we may investigate and make manual adjustments to your account if needed. </p>

    </div>
</div>