<ul class="tabs-menu">
    <li class="current">
        @Html.ActionLink("Balance sheet", "Balance")
    </li>
    <li>
        @Html.ActionLink("Apprentices paid to date", "Apprenticeships")
    </li>
    <li>
        @Html.ActionLink("Data visualisation", "Visualisation")
    </li>
</ul>