<div style="border: 1px solid red; padding: 20px;">
    <h3>¡Test data!</h3>
    <div>MDDP87 - 12345</div>
    <div>VJJD9X - 12346</div>
    <div>V66WKD - 12340 = No match 404</div>
</div>

<ul class="tabs-menu">
    <li class="current">
        @Html.ActionLink("Balance sheet", "Balance")
    </li>
    <li>
        @Html.ActionLink("Apprentices paid to date", "Apprenticeships")
    </li>
    <li>
        @Html.ActionLink("Data visualisation", "Visualisation")
    </li>
</ul>