@model SFA.DAS.Forecasting.Web.ViewModels.ApprenticeshipRemoveViewModel
@{
    ViewBag.Title = Model.Name;
    ViewBag.Description = "Remove Apprenticeships to the Estimator Tool";
}
<main class="estimate-remove-apprenticeship" id="content" role="main" tabindex="-1">
    <a href="#" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup form-group">
                <h1 class="heading-xlarge">
                    Remove An Estimate from EstimationName: @Model.EstimationName Row: @Model.RowId

                </h1>
            </div>
        </div>
    </div>


</main>
