<h1 class="govuk-heading-xl">Add apprenticeships to estimate cost</h1>
<p class="govuk-!-margin-bottom-8">
    Add the apprenticeship details so you can estimate the cost of the apprenticeships you've chosen. We will show the government funding band maximum and typical duration of the apprenticeship. You can adjust the cost and monthly figures should you need to.
</p>
