<h1 class="govuk-heading-xl">Edit apprenticeships in your current estimate</h1>
<p class="govuk-!-margin-bottom-9">
    Edit the apprenticeship details in your estimate so that you can see how much you could transfer to another employer.
    We will show the government funding band maximum and typical duration of the apprenticeship.
    You can adjust the cost and monthly figures should you need to.
</p>