@model SFA.DAS.Forecasting.Web.ViewModels.RemoveApprenticeshipViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Description = "Remove Apprenticeships from your Estimation";
}
@using (@Html.BeginForm("Save", "Estimation", FormMethod.Post)){
       
<main class="estimate-add-apprenticeship" id="content" role="main" tabindex="-1">
    <a href="#" class="link-back">Back</a>
    @Html.HiddenFor(model => model.EstimationName)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.HashedAccountId)


    

    

</main>
}