<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.4.0" targetFramework="net462" />
  <package id="AutoFixture.AutoMoq" version="4.4.0" targetFramework="net462" />
  <package id="AutoMoq" version="2.0.0" targetFramework="net462" />
  <package id="Castle.Core" version="4.3.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net462" />
  <package id="Hashids.net" version="1.2.2" targetFramework="net462" />
  <package id="Moq" version="4.8.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.12.0" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net462" />
  <package id="SFA.DAS.EmployerFinance.Types" version="0.2.24" targetFramework="net462" />
  <package id="SFA.DAS.HashingService" version="1.0.0.57835" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="Unity" version="4.0.1" targetFramework="net462" />
</packages>