.app-related-section {
    border-top: 10px solid #1d70b8;
    padding-top: 15px;
}

.app-survey-details {
    background: #1d70b8;
}

.app-survey-details__summary {
    margin: 5px 10px 6px;
    color: #fff;
}

.app-survey-details__summary:hover {
    color: #fff;
}

.app-survey-details__summary:hover:focus {
    color: black;
}

.app-survey-details__summary:hover:active {
    color: black;
}

.app-survey-details__wrapper {
    padding: 10px;
}

.app-survey-details__wrapper iframe {
    width: 100%;
    height: 300px;
    display: block;
    border: none;
}