<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="SFA.DAS.Provider.Events.Api.Client" version="3.0.1-prerelease-5" targetFramework="net462" />
  <package id="StructureMap" version="4.5.2" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
</packages>