@mixin green-tick {
  background:url(/Content/dist/images/icon-green-tick.png) no-repeat 0 -4px;
  width: 30px;
  height: 22px;
  margin-left: -2px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}



// custom to overwrite the GDS defaults
.hr-double {
  border-bottom: 4px solid $grey-2;
  margin-bottom: 20px;
}
.hr-top {
  margin-bottom: 20px;
}
.hr-bottom {
  margin-top: 20px;
}
// add apprentice entry
#add-apprentice-entry,
#edit-apprentice {
  hr {
      margin-top: 0;
      margin-bottom: 22px;
  }
}
.button.text-link {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: $link-colour;
  text-decoration: underline;
}
.alert-default {
  background-color: $light-blue-25;
  border-color: $light-blue;
}



h2{     
.float-right{font-size:19px;}
} 

/*floating menu style - EMPLOYER */
#floating-menu-holder{
    width: 100%;
    background: $mauve;
    .fixed-header {
	  position: fixed;
	  top:0; left:0;
	  max-width: 100%; 
	}
    .width-adjust{
      max-width: 960px;
      margin: 0 auto;
      }

}
  .floating-menu{ 
	clear:both;
	max-width:960px;
	width:100%;
	background:$mauve;
	color:#fff;
    z-index:1;
    margin:0 auto;
        nav#user-nav{
            clear:both;
            float:left;
            margin:0 0 0 20px;   
                 @include media(tablet){
                     margin:0;                  
                     clear:none;
                     float:right;
                 }
                li{
                    a{
                        border:0;                     
                        color:#fff;  
                                
                    }
                    .has-sub-menu{ 
                        a.menu-main{
                            border:0;
                            color:#fff;
                        }  
                  
                    }  
                .open{
                     a.menu-main{color:#4c2c92;}
                    }  
                            
                }         
            }
    
        p.floating-head-text{
              float:left; 
              margin:10px 0 0 10px;
              font-weight:bold;
              font-size:19px;

              @include media(tablet){
                 margin:10px 0 10px 0px;
                 }
            }
  }
 /* - END floating menu style */

  .js-enabled #user-nav li.has-sub-menu>a:before{
      border-left-color:#fff;
  }
.js-enabled #user-nav li.has-sub-menu.open>a{
    color:#4c2c92;
}

.floating-menu nav#user-nav #settings-menu{
    a.sub-menu-item{
        color:#4c2c92;
    }
}

.header-organisation ul li.menu-link>a{
    top:auto;
}

.floating-menu nav#user-nav #settings-menu a.sub-menu-item{
    color:#fff;
       @include media(tablet){
            color:#4c2c92;
            }
}

/*select2 styles*/
.select2-container--default .select2-selection--single {
    border: 2px solid #0b0c0c;
    border-radius: 0;
    height: 37px;
}
.panel-border-wide {
    border-color: $purple;
    background: $grey-3;
}


/*Estimator start page*/
#estimate-start-transfer{
    .disclaimer{
        margin-top: 30px;
    }
    .button-start{
        margin-top:40px;
    }
}

/*Funding projection page*/
#account-projection{
    margin-bottom:60px;
}

.pending-completion-payments{
    p{
        margin-bottom:5px;
    }
}








//all mobile media query breakpoints
//==================================
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
}




#estimate-add-apprenticeship {
    .no-of-apprentice,
    .no-of-months {
        input {
            width: 50px;
        }
    }
    .total-funding-cost {
        width: 200px;
    }
}



//all mobile media query breakpoints
//==================================
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
}
// Funding projection
.funding-projection {

    .info-summary {
        max-width: 30em;
        background: #eaebf3;
        border: none;
        border-left: solid 10px #2e358b;
    }

    .related {
        border-top-color: #005ea5;
        border-top-style: solid;
        border-top-width: 10px;
        margin-top: 15px;
    }

    @media (min-width: 641px) {
        .related {
            margin-top: 70px;
            position: absolute;
            max-width: 290px;
        }
    }
}
// END Funding projection
/*coinvestment table*/
.balancesheet, #balancesheet {
    .co-invest-head {
        text-align: center;
    }

    .grey-bg {
        background: $panel-colour;
    }
}
// Funding Projection Chart
.chart-container {
    display: none;
}

path.c3-line {
    stroke-width: 4px;
    stroke: #005ea5;
}

.c3-axis-y .tick {
    display: none;
}

.c3-axis-y-label {
    font-size: 20px;
}
// END Funding Projection Chart

// Estimation Style

table.small th, table.small td {
    font-size: 16px;
}

table.small th, table.small td, table.small .form-hint {
    font-size: 16px;
}

.errorTable tr.error-row {
    box-shadow: -5px 0px 0px 0px #f7e7e9, -10px 0px 0px 0px #b10e1e;
    background: #f7e7e9;
}

// END Estimation Style

// Tooltip styles

#BalanceSheet-Tables {
    .tip-info {
        font-weight: normal;
        background: url(/Content/dist/images/info-blue.png) no-repeat 100% 1px;
        background-size: 18px;
        display: block;
        width: 100%;
        cursor: pointer;
        background-position-y: bottom;

        .info-title {
            padding-right: 22px;
            display: block;
            color: #005ea5;
            text-decoration: underline;
        }
    }
}