.publication-header {
    background: $govuk-blue;
    padding: 30px;
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;

    @include media(tablet) {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

.publication-header__publication-type {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    @include media(tablet) {
        font-size: 24px;
    }
}

.publication-header__heading {
    margin: 0;
}

.publication-header__last-changed {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
    @include media(tablet) {
        font-size: 19px;
    }
}