#tabs-container {
    margin-bottom: 10px;

    .tabs-menu {
        float: left;
        border-bottom: 1px solid #d4d4d1;
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;

        li {
            display: inline-block;
            float: left;
            text-align: center;
            margin-right: 5px;
            color: #000;
            background-color: $grey-3;
            border-top: 1px solid $grey-2;
            border-right: 1px solid $grey-2;
            border-left: 1px solid $grey-2;
            bottom: -1px;
            line-height: 44px;

            &:hover {
                line-height: 51px;
                margin-top: -6px;
                margin-bottom: -1px;
                background: $grey-4;
                text-decoration: underline;
            }

            &.current {
                position: relative;
                background-color: #fff;
                border-bottom: 1px solid #fff;
                z-index: 0;
                line-height: 50px;
                margin-bottom: -1px;
                margin-top: -7px;

                a {
                    color: #000;
                }
            }

            a {
                padding: 15px;
                margin-top: 0px;
                color: #005EA5;
                text-decoration: none;

                &:focus {
                    background: none;
                    border: 0;
                    outline: 0;
                }
            }
        }
    }

    .tab-content {
        overflow: auto;
        border: 1px solid $grey-2;
        border-top: 0;
        padding: 15px;
    }
}
